.navbar {
  display: flex;
  width: max-content;
  height: 50px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

ul {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul > li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  float: left;
  padding: 0 10px;
  line-height: 50px;
  margin: 0 3px;
  height: 100%;
  &:hover {
    line-height: 46px;
  }
}

object {
  width: 24px;
  height: 24px;
}

ul > embed {
  float: left;
}

a {
  height: 100%;
  display: block;
  text-decoration: none;
  color: black;
  padding: 0 5px;
  &:hover {
    border-bottom: 2px black solid;
  }
}
