$code-font-size: clamp(0.8rem, calc(0.7354rem + 0.2756vw), 1rem);
$code-line-height: clamp(0.93rem, calc(0.9074rem + 0.0965vw), 1rem);
$code-font-family: 'JetbrainsMono';

// 段落内代码关键词等
p {
  code {
    font-size: $code-font-size;
    line-height: $code-line-height;
    background-color: #f5f5f5;
    font-family: $code-font-family;
    color: #734cf4;
    padding: 0 5px;
  }
  img {
    display: block;
    width: 100%;
  }
}

// 代码块
pre {
  code,
  span {
    font-size: $code-font-size;
    line-height: $code-line-height;
    font-family: $code-font-family;
    text-indent: 0;
  }
  code {
    padding: 0.6em 1em;
    border-radius: 8px;
  }
}

// 引用块
blockquote {
  p {
    font-size: smaller;
    border-left: solid 3px rgb(20, 81, 122);
    text-indent: 0;
    padding-left: 1em;
  }
}

// 小标题
ol {
  li {
    text-indent: 0;
  }
}
