<div class="detail-root">
  <div class="figure">
    <img src="/assets/404/white-tent.jpg" alt="figure" />
  </div>
  <h1 class="article-info">
    Wow! My blog coming!
  </h1>
  <p class="article-content">
    Ross’s response was one short word. This incident was originally caused by
    Luffy and others when they rescued a Mermaid of the Fishman Island, which
    was equivalent to Luffy doing his work for him. Buzz!!Ross’s response was
    one short word. This incident was originally caused by Luffy and others when
    they rescued a Mermaid of the Fishman Island, which was equivalent to Luffy
    doing his work for him. Buzz!!Ross’s response was one short word. This
    incident was originally caused by Luffy and others when they rescued a
    Mermaid of the Fishman Island, which was equivalent to Luffy doing his work
    for him. Buzz!!Ross’s response was one short word. This incident was
    originally caused by Luffy and others when they rescued a Mermaid of the
    Fishman Island, which was equivalent to Luffy doing his work for him.
    Buzz!!Ross’s response was one short word. This incident was originally
    caused by Luffy and others when they rescued a Mermaid of the Fishman
    Island, which was equivalent to Luffy doing his work for him. Buzz!!
  </p>
</div>
