.navbar-con {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0 1em;
  box-shadow: 0 2px 2px #eeeeee;
  background-color: #fafafa;
  z-index: 100;
}

.panel-con {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
