<div class="panel-root">
  <div class="detail-con">
    <div (click)="toggleFocus()" class="controlIcon">
      <img
        [src]="
          articleEnlarged
            ? '/assets/control/reduce.svg'
            : 'assets/control/enlarge.svg'
        "
        alt="svg"
      />
    </div>
    <app-details></app-details>
  </div>

  <div class="card-con" [@controlCardCon]="cardConFocused ? 'open' : 'closed'">
    <app-article-card></app-article-card>
    <app-article-card></app-article-card>
    <app-article-card></app-article-card>
    <app-article-card></app-article-card>
    <app-article-card></app-article-card>
    <app-article-card></app-article-card>
  </div>
</div>
