<div class="panel-root">
  <div class="detail-con">
    <div (click)="viewModeToggle()" class="controlIcon">
      <img
        [src]="
          focusOnArticle
            ? '/assets/control/reduce.svg'
            : '/assets/control/enlarge.svg'
        "
        alt="svg"
      />
    </div>
    <router-outlet></router-outlet>
  </div>

  <div class="card-con" [@controlCardCon]="focusOnArticle ? 'closed' : 'open'">
    <app-article-card
      *ngFor="let item of articlesArr"
      [aid]="item.aid"
      [title]="item.title"
      [date]="item.date"
    ></app-article-card>
  </div>
</div>
