.panel-root {
  height: 100%;
  width: 57%;
  background-color: #33153f;
  float: right;
  padding-left: 1em;
  padding-right: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: 5px;
  scrollbar-color: gray;
  border-bottom-left-radius: 47px;
}
