.panel-root {
  height: 100vh;
  width: 100vw;
  float: left;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #f5f5f5;
}

.controlIcon {
  position: absolute;
  top: 1em;
  right: 1em;
  display: inline-block;
  z-index: 2;
  cursor: pointer;

  & > img {
    display: block;
  }
}

.side {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.article-list-con {
  // 在浏览器、移动设备上，宽度受width约束，有剩余空间不扩展，缺空间不缩减
  flex: 0 0 auto;
  // width设置为element.style, 不在样式表设置宽度padding会导致盒子宽度变长
  box-sizing: border-box;
  background-color: #33153f;
  padding: 0 1em;
  scrollbar-width: 5px;
  border-bottom-left-radius: 47px;
}

.article-detail-con {
  flex: 1 1 0;
  scrollbar-width: 5px;

  .github {
    width: 80px;
    height: 80px;
    z-index: 2;
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.article-list-con::-webkit-scrollbar,
.article-detail-con::-webkit-scrollbar {
  width: 10px;
}

.article-list-con::-webkit-scrollbar-thumb,
.article-detail-con::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.article-list-con::-webkit-scrollbar-thumb {
  background-color: #f5f5f562;
}

.article-detail-con::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff5445, #f5f5f5);
}
