.card-root {
  width: 656px;
  height: 150px;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.ilustri {
  height: 150px;
  & > img {
    width: 160px;
    height: 100%;
    object-fit: cover;
  }
}

.info {
  flex: 1 1 auto;
  margin-right: 1em;
}

.title {
  flex-grow: 1;
  font-size: 24px;
  text-align: start;
  color: #f5f5f5;
  cursor: pointer;
  max-height: 82px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  letter-spacing: -0.42px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.date {
  font-size: 15px;
  margin: 0;
  align-self: flex-start;
  color: #f5f5f5;
  text-align: right;
}
