/* You can add global styles to this file, and also import other style files */
@use '../node_modules/normalize.css/normalize.css';
@use '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@use '../node_modules/highlight.js/styles/androidstudio.css';

@font-face {
  font-family: JetbrainsMono;
  src: url('/assets/font/JetBrainsMono-Regular.woff') format('woff');
  size: 400;
  font-display: swap;
}

* {
  outline: none;
  font-family: JetbrainsMono, Roboto, 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
}
