/* You can add global styles to this file, and also import other style files */
@use '../node_modules/normalize.css/normalize.css';
@use '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@use '../node_modules/highlight.js/styles/androidstudio.css';

@font-face {
  font-family: JetbrainsMono;
  src: url("/assets/font/JetBrainsMono-Regular.woff") format("woff");
  size: 400;
}

@font-face {
  font-family: JetbrainsMonoMedium;
  src: url("/assets/font/JetBrainsMono-Medium.woff") format("woff");
  size: 500;
}

@font-face {
  font-family: JetbrainsMonoItalic;
  src: url("/assets/font/JetBrainsMono-Italic.woff") format("woff");
  size: 400;
}

@font-face {
  font-family: JetbrainsMonoBold;
  src: url("/assets/font/JetBrainsMono-Bold.woff") format("woff");
  size: 400;
}

body {
  overflow-x: hidden;
}

p {
  text-indent: 2em;
  text-align: justify;
}

* {
  outline: none;
  font-size: 21px;
  font-family: "JetbrainsMono";
}

pre {
  & code,
  & span {
    font-size: 16px;
    font-family: "JetbrainsMono";
    line-height: 1.4em;
  }
}
