/* You can add global styles to this file, and also import other style files */
@use '../node_modules/normalize.css/normalize.css';
@use '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@use '../node_modules/highlight.js/styles/androidstudio.css';

@font-face {
  font-family: JetbrainsMono;
  src: url("/assets/font/JetBrainsMono-Regular.woff") format("woff");
  size: 400;
}

@font-face {
  font-family: JetbrainsMonoMedium;
  src: url("/assets/font/JetBrainsMono-Medium.woff") format("woff");
  size: 500;
}

@font-face {
  font-family: JetbrainsMonoItalic;
  src: url("/assets/font/JetBrainsMono-Italic.woff") format("woff");
  size: 400;
}

@font-face {
  font-family: JetbrainsMonoBold;
  src: url("/assets/font/JetBrainsMono-Bold.woff") format("woff");
  size: 400;
}

body {
  overflow-x: hidden;
}

p {
  text-indent: 2em;
  text-align: justify;
}

* {
  outline: none;
  font-size: 21px;
  font-family: "JetbrainsMono";
}

// 段落内代码关键词等
p {
  & code {
    font-size: 0.8em;
    background-color: rgb(251, 251, 191);
    color: #734cf4;
    font-family: "JetbrainsMono";
    padding: 0 5px;
  }
  & img {
    display: block;
    width: 100%;
  }
}

// 代码块
pre {
  & code,
  & span {
    font-size: 16px;
    font-family: "JetbrainsMono";
    line-height: 1.4em;
  }
  & code {
    padding: 0.6em 1em;
    border-radius: 8px;
  }
}

// 引用块
blockquote {
  & p {
    font-size: smaller;
    border-left: solid 3px rgb(20, 81, 122);
    text-indent: 0;
    padding-left: 1em;
  }
}
